.name {
  display: flex;
  align-items: center;
  color: bisque;
  margin-right: 8px;
}
.container {
  display: flex;
  height: 38px;
}

.link {
  margin: 10px;
}

.nav {
  margin-bottom: 5px;
}
.btn {
  height: 38px;
  margin-left: 10px;
}
